* {
    margin: 0;
    padding: 0;
}

#lobby-container, #game-container, #my-turn-container, #start-game-button {
    display: none;
}

#next-celeb-button, #pass-celeb-button, #end-container {
    display: none;
}

.timerBar {
    width: 500px;
    margin: 25px auto;
    border: solid 1px #000;
}

.timerBar .inner {
    height: 15px;
    animation: timerBar-countdown;
    animation-duration: 40s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
}

@keyframes timerBar-countdown {
    0% {
        width: 100%;
        background: #0f0;
    }
    75% {
        background: #0f0;
    }
    100% {
        width: 0%;
        background: #f00;
    }
}