@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

input[type=text] {
    width: 196px;
    height: 46px;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #999;
    margin-bottom: 12px;
}

#header {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: dodgerblue;
}

#container {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    /*background-color: forestgreen;*/
}

.container {
    margin: 0 auto;
    width: 200px;
    /*background-color: firebrick;*/
    text-align: center;
}

#room-code-container {
    margin-top: 10px;
}

#login-container {
    text-align: left;
}

#or {
    width: 200px;
    text-align: center;
}

#lobby-container {
    display: none;
    text-align: left;
}

#celeb-suggestion-list {
    list-style: none;
    margin-bottom: 5px;
}

#room-code-container {
    color: #999;
}
 
#game-container {
    display: none;
    width: 196px;
    border-radius: 15px;
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

#my-turn-container, #team-container, #end-container {
    display: none;
}

/*#player-container {
    text-align: center;
}*/

#team-container {
    width: 200px;
}

#team-container ul {
    list-style: none;
    color: #999;
    text-align: center;
    float: left;
    width: 100px;
}

#next-celeb-button, #pass-celeb-button, #start-round-button {
    width: 146px;
    display: none;
}

#start-game-button {
    display: none;
}

#celeb-feed-container {
    display: block;
}

#celeb-feed {
    color: #999;
    list-style: none;
}

.timerBar {
    width: 300px;
    margin: 0 auto;
}

.timerBar .inner {
    height: 15px;
    animation: timerBar-countdown;
    animation-duration: 40s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
}

.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    border-color: firebrick;
    box-shadow: 0 9px #999;
    margin-bottom: 12px;
}
  
.button:hover {background-color: #186EC4}
  
.button:active {
    background-color: #186EC4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#player-container h4 {
    color: #999;
}

#player-list {
    list-style: none;
}

@keyframes timerBar-countdown {
    0% {
        width: 100%;
        background: #0f0;
    }
    75% {
        background: #0f0;
    }
    100% {
        width: 0%;
        background: #f00;
    }
}

/* Media Queries 

@media screen and (max-width: 1000px) {
    h1 {font-size: 2.4em;}
}

@media screen and (max-width: 825px) {

}*/