// Mixins for CatchPhrase game

@mixin login() {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  #joinGame {
    margin-bottom: 50px;

    #You {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: flex-end;
      min-height: 100px;
    }
  }

  #createGame {
    margin-bottom: 50px;

    #Game {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: flex-end;
      min-height: 100px;
    }
  }

  .section {
    width: 45%;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: 700px) {
    #You, #Game {
      flex-direction: column;

      .section {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

@mixin lobby($display) {
  display: $display;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  #celeb-suggestion-list {
      list-style: none;
      margin-bottom: 5px;
  }

  #playerContainer {
    h4 {
      color: #999;
    }

    #player-list {
        list-style: none;
    }
  }
}

@mixin game($display) {
  display: $display;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 196px;
  border-radius: 15px;
  border-color: dodgerblue;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
}

@mixin team() {
  width: 200px;
  display: none;

  ul {
      list-style: none;
      color: #999;
      text-align: center;
      float: left;
      width: 100px;
  }
}

@mixin button($display) {
  display: $display;
  width: 50%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: dodgerblue;
  border: none;
  border-radius: 15px;
  border-color: firebrick;
  box-shadow: 0 9px #999;
  margin-bottom: 12px;
}

@mixin roomCode() {
  margin-top: 10px;
  color: #999;
}

@mixin celeb() {
  display: block;

  #celeb-feed {
    color: #999;
    list-style: none;
  }
}

@mixin timer() {
  #timerBar {
      width: 300px;
      margin: 0 auto;

      .inner {
          height: 15px;
          animation: timerBar-countdown;
          animation-duration: 40s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-play-state: paused;
          animation-timing-function: linear;
      }
  }
}
